*, *::after, *::before{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#container{
    background-color: blanchedalmond;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    background-color: #9DC284;
    justify-content: center;
    margin: 0;
    color: white;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: 3px solid  #9DC284;
    color:black;
}

#add-skill{
    color: #9DC284;
    background-color: white;
    border: 3px solid #9DC284;
    padding: 9px;
    font-weight: bold;
}

#input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#table{
    border: 3px solid  #9DC284;
}